@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap');

:root {
    --darkaqua: #264143;
    --hotpink: #DE5499;
    --pink: #DCA4C9; 
    --skin: #EDDCD9;
    --white: #F8F8F8;
}

* {
    font-family: Raleway;
    padding: 0;
}


body {
    margin: 0;
}

header {
    position: sticky;
    top: 0px;
    height: 100px;
    width: 100%;
    background-color: var(--white);
    padding: 0;
    display: flex;
}

header div {
    margin: auto;
}

main {
    height: 500px;
    background-color: var(--skin);
    padding: 20px;
}

footer {
    height: 100px;
    width: 100%;
    background-color: var(--darkaqua);
    display: flex;
    justify-content: space-between;
    color: white
}


footer div:first-child {
    display: flex;
    align-items: center;
    padding: 20px;
}

footer div img:hover {
    filter: brightness(50%);
    transition: 0.3s;
}

footer div:last-child {
    padding: 40px;
}

button {
    background-color: var(--skin);
    border-style: solid;
    border-color: var(--hotpink);
    color: var(--hotpink);
    height: 40px;
}

button:hover {
    transition: 0.3s;
    background-color: var(--pink);
}

button.addButton {
    width: 80px;
}

button.clearButton {
    width: 180px;
}

.taskInput {
    display: flex;
    justify-content:flex-start;
    margin: 20px;
}

.taskInput input:first-child {
    margin-right: 20px;
}


.list {
    height: 230px;
    margin: 40px;
    padding: 30px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.task {
    width: 30%;
    margin: 5px;
    padding: 10px;
    background-color: var(--dark);
    display: flex;
}

.task div {
    margin-left: 2%;
}

.taskFin {
    display: flex;
    align-content: center;
}

.taskFin div {
    padding: 10px;
    margin-right: 10px;
}